@import "about.css";
@import "projects.css";
@import "contacts.css";





* {
	margin-bottom: 5px;
    font-family: Impact;
}

:root {
    --bs-body-bg : rgb(150, 150, 150) !important;
}


body {
	margin: 0px 5px !important;
	padding: 0px 5px !important;
}

title{
	color: rgb(255 255 255);
    	font-size: 50px;
}

#aba-topo {
	background-color: rgba(0,0,0, 0.8);
    height: fit-content;
    object-position: 5px 10%;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    width : 100%;
    padding-bottom: 0.5em;

}
#portfolio-h1 {
    text-align: center;
    font-size: 4em;
    font-family: Impact;
    color: rgba(255, 255, 255, 0);
    margin: 0 !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f8f9fa;
    margin-bottom: -0.4em !important;
}

#portfolio-h2{
    font-size: 2em;
    color:  rgba(255, 255, 255, 0);
    margin: 0 !important;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f8f9fa;

}
#navbar-topo{
    margin-top: 0.5em !important
}

.sticky-top {
	background-color: rgb(150, 150, 150) ;
    transition: 0.1s;
    transition-duration: 0.3s;
}


.hidden-objects{
    
    animation: 2s linear fadein;
   
 }

 
 #bt-social {

    width: 50px;
    height: 50px;
    
}

.links-contact{
   text-decoration: none;

}




.btn-md {
    --bs-btn-padding-y: 0.5rem !important;
    --bs-btn-padding-x: 1.5rem !important;
    --bs-btn-font-size: 1rem !important;
    margin: 0% 1%;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
.content-div {
	background-color: rgb(255,255,255, 0.5);
	border-radius: 15px;
	height: auto;
	width: 100%;
    padding: 1%;

}

#present-text {
        font-size: 1.5em;
	    text-size-adjust: auto;
	    margin : 5px;
	    text-align: center;
        font-family: Impact;
        color: rgb(0, 0, 0);
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: rgb(255, 255, 255,0.7);
    

}

#present-content {

    padding: 15px;
    place-items: center;
    justify-content: space-around;
    text-align: center;

}


#all-slide {
	padding: 0px 15px;
    text-align: -webkit-center;
}

.slides-shadow {
    box-shadow: 0 1rem 5rem rgba(0,0,0,0.35)!important;
}
.slide-shadow-p{
    padding: 0 !important;
    background: linear-gradient(180deg, rgba(150,150,150,0.4) 10%, rgba(150,150,150,0.9) 100%);
    border-radius: 15px;
}
.slide{
    text-align: -webkit-center;
}

#bot-principal {

	border-radius: 15px;
	height: auto;
	width: 100%;    
	padding: 10px;
    text-align: center;


}

.card-cert {
    background-color: rgb(255,255,255)  !important;
}

.title-exp{
    font-family: Impact ;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-align-last: center;
}
.card-exp{

    max-width: 100%;
    padding: 0% 1%;
    display: flex !important;
    flex-direction: row !important;
    margin-top: 0 !important;

}

.logo-exp {
    align-self: center;
    padding: 5%;
}

.card-text{
    margin-bottom: 1em !important;
}

.inner-card-exp{
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(255,255,255);
}

.card {
    --bs-card-bg: transparent !important;
    border: transparent !important;
}


 label{
	border-radius: 10px;
 }




@media only screen and (max-width: 600px) {

 
    .btn-md {
        --bs-btn-padding-y: .25rem !important; 
        --bs-btn-padding-x: .5rem !important; 
        --bs-btn-font-size: .75rem !important;
    }

    #present-text {

        margin: 20px;
        font-size: 0.8em;

    }

    .rows{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .col-5 {
        width: 70% !important;
        max-width: 70% !important;
    }
    
    .col-3 {
        width: 70% !important;
        max-width: 70% !important;
    }

    .logo-exp{
        max-width: 33% !important;
    }

    .title-exp{
        margin-bottom: -8px;
    }
    .tl-cardtitle,.title-exp{
        margin-top: 5px;

    }

    .card-exp{

        max-width: 100%;
        padding: 1%;
        margin: 5px !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .inner-card-exp {
        margin: 5px 0px;
    }
    .dados-exp{
        width: 67% !important;
        font-size: 60%;
        text-align: center;
    }

}
