* {
	margin-bottom: 5px;
}

:root {
    --bs-body-bg : rgb(211, 211, 211) !important;
}


body {
	margin: 0px 5px !important;
	padding: 0px 5px !important;
}


.dark {
	background-color: rgb(0, 0, 0) !important;

}

.dark-content-box {
    color: rgb(255, 255, 255) !important;
}

.aba-black {
	background-color: rgba(0,0,0, 0.8);
    height: fit-content;
    object-position: 5px 10%;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    width : 100%;

}
.aba-white {
	background-color: rgba(255,255,255, 0.8);
    height: fit-content;
    object-position: 5px 10%;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    width : 100%;

}

/* #switcher{


}*/

#top-logo-black {
	display: none;
	max-height: 80px;    
	align-content: center;
}

#bt-topo {

    color: black;
    font-weight: bold;
    background-color: lightgray;
    max-width: 130px;
    max-height: 50px;
    text-align: center;
    margin: 15px;
    font-size: 90%;
    min-width: 50px;
    border-radius: 5px;
    display: none;

}

#top-logo-white {

	max-height: 80px;    
	align-content: center;

}


#show-button-div {

    text-align: center;
    animation: 1s !important;
    margin-top: 20%;

}

#welcome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}
#show-button{

    border-radius: 25px;

}


.hidden-objects{
    
    /*visibility: hidden;*/
    display: none;
    animation: fadein 1s;


}

#menu  {
    text-decoration: none;
  }
 
  nav {
    font-family: monospace;
  }
  
  ul li {
    background: rgba(211, 209, 206, 0.459);
    list-style: none;
    margin: 0;
    border-radius: 25px;
    max-width: 120px;
    text-align: center;
  }
  li {
    color: #fff;
    display: block;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
    background: rgb(92, 90, 90);
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    background: rgb(201, 200, 199);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;

  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
   /*

*/
  
#tl-principal {
	background-color: rgb(255,255,255, 0.5);
	border-radius: 15px;
	height: auto;
	width: 100%;

}

#tl-text {
	    text-size-adjust: auto;
	    margin : 5px;
	    text-align: center;

}

#img-principal {
    inline-size: -webkit-fill-available;
    max-width: 500px;
    border-radius: 15px;
    margin: 5px;
    min-width: 150px;
    align-content: center;
}



#tl-conteudo {

    padding: 15px;
    place-items: center;
    justify-content: space-around;
    text-align: center;

}


#tl-slide {
	padding: 15px;
    text-align: -webkit-center;
}

.mySlides {
    width: 100%;
    display: none;
    max-width: 720px;
    max-height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;

}

#slide1{
	display: flex;
}

#bot-principal {

	background-color: rgb(242, 242, 242, 0.5);
	border-radius: 15px;
	height: auto;
	width: 100%;    
	padding: 10px;
    text-align: center;


}

 #bt-social {

 	width: 50px;
 	height: 50px;
 	
 }


 label{
	border-radius: 10px;
 }
#imgswitcher{
	height: 30px;
}

#switcher {
	display: none;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@media only screen and (max-width: 600px) {

    
    #welcome {
        font-size: xx-large;
    }
    #show-button{
        background: url(img/digital.png) center / 80px 80px no-repeat; 
        height: 100px;
        width: 100px;
        border-radius: 50px;
        content-visibility: hidden;

    }


    #tl-text {

        margin: 20px;
        font-size: smaller;

    }

    #img-principal{
      /*  max-width: 80%; */
      padding: 10px;

        }
    .row{
        display: grid !important;


    }
    .col-5 {
        width: 70% !important;
        max-width: 70% !important;
    }
    
    .col-7 {
        width: 70% !important;
        max-width: 70% !important;
    }

    #top-logo-white, #top-logo-black{
        max-height: 50px;
        max-width: 250px;
    align-content: center;
    inline-size: -webkit-fill-available;
    }

}